[Desktop Entry]
Name= mp4 to mov Video Converter
Comment=Convert videos to high-quality ProRes format
Exec=/opt/mp4 to mov Video Converter/video-pro-converter
Icon=/opt/mp4 to mov Video Converter/resources/app/assets/icon.png
Terminal=false
Type=Application
Categories=Video;AudioVideo;Utility;
Keywords=video;converter;prores;mov;mp4;
StartupWMClass=mp4 to mov Video Converter
MimeType=video/mp4;video/quicktime;video/x-msvideo;video/x-matroska;
